<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modeul.web.repository.ImageRepository">

	<insert id="insert" parameterType="String">
		insert into image(name, stuff_id)
		values('${fileName}', 1)
		
		
	</insert>
</mapper>