<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modeul.web.repository.StuffRepository">
	<resultMap type="StuffView" id="stuffViewResultMap">
		<result property="regDate" column="reg_date" />
		<result property="numPeople" column="num_people" />
		<result property="memberId" column="member_id" />
		<result property="categoryId" column="category_id" />
		<result property="categoryName" column="category_name" />
	</resultMap>

	<insert id="insert" parameterType="Stuff">
		insert into stuff(title, place, num_people, url, deadline, price,
		content,
		category_id)
		values(#{title}, #{place}, ${numPeople}, #{url},
		#{deadline}, #{price}, #{content}, ${categoryId})

		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>



	</insert>

	<insert id="insertImage" parameterType="hashMap">
		insert into image(name,
		stuff_id)
		values(#{uploadFileName}, ${stuffId})
	</insert>

	<select id="findViewAll" resultMap="stuffViewResultMap">
		select * from stuff_view_gyun
	</select>
</mapper>